/* ------------------- */
/* local font defs just in case */
/* Open Sans */
@font-face {
  font-family: 'Open Sans local';
  font-style: normal;
  font-weight: bold;
  src: url("OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'Open Sans local';
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Regular.ttf"); }

/* Sniglet */
@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: normal;
  src: url("Sniglet-Regular.ttf"); }

/* Chewy */
@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: bold;
  src: url("Chewy.ttf"); }

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: normal;
  src: url("LuckiestGuy.ttf"); }

/* TitanOne */
@font-face {
  font-family: 'TitanOne';
  font-style: normal;
  font-weight: normal;
  src: url("TitanOne-Regular.ttf"); }
/* ------------------- */